@tailwind base;
@tailwind components;
@tailwind utilities;

.dark {
  color-scheme: dark;
}

.light {
  color-scheme: light;
}

.nav-bar li:not(:last-child)::after {
  content: "|";
  @apply mx-1 md:mx-2;
  /*@apply xs:mx-0.5 mx-1 md:mx-2;*/
}

.logoSvgStyle {
  shape-rendering: geometricprecision;
  text-rendering: geometricprecision;
  fill-rule: evenodd;
  clip-rule: evenodd;
}

.hamburger {
  padding: 0px;
  display: inline-block;
  cursor: pointer;
  transition-property: opacity, filter;
  transition-duration: 0.15s;
  transition-timing-function: linear;
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  border: 0px;
  margin: 0px;
  overflow: visible;
}

.hamburger-box {
  display: inline-block;
  position: relative;
  @apply w-6 h-6;
}

.hamburger-inner {
  display: block;
  top: 50%;
}

.hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
  position: absolute;
  transition-property: transform;
  transition-duration: 0.15s;
  transition-timing-function: ease;
  @apply h-1 w-6 rounded-full;
}

.hamburger-inner::before, .hamburger-inner::after {
  content: "";
  display: block;
}

.hamburger-inner::after {
  right: 0px;
}

.hamburger-inner::before {
  left: 0px;
}

.hamhover:hover > .hamburger-inner::before {
  @apply -left-0 md:w-2 md:transition-all;
}

.hamhover:hover > .hamburger-inner::after {
  right: 0px;
  @apply -right-0 md:w-2 md:transition-all;
}

.hamhover:not(:hover) > .hamburger-inner::before, .hamhover:not(:hover) > .hamburger-inner::after {
  @apply transition-all;
}

.hamburger--spin .hamburger-inner {
  transition-duration: 0.22s;
  transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.hamburger--spin .hamburger-inner::before {
  transition: top 0.1s ease-in 0.25s, opacity 0.1s ease-in 0s;
}

.hamburger--spin .hamburger-inner::after {
  transition: bottom 0.1s ease-in 0.25s, transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19) 0s;
}

.hamburger--spin.is-active .hamburger-inner {
  transform: rotate(225deg);
  transition-delay: 0.12s;
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
}

.hamburger--spin.is-active .hamburger-inner::before {
  top: 0px;
  opacity: 0;
  transition: top 0.1s ease-out 0s, opacity 0.1s ease-out 0.12s;
}

.hamburger--spin.is-active .hamburger-inner::after {
  bottom: 0px;
  transform: rotate(-90deg);
  transition: bottom 0.1s ease-out 0s, transform 0.22s cubic-bezier(0.215, 0.61, 0.355, 1) 0.12s;
}

#theme-toggle svg {
  @apply fill-neutral-950 dark:fill-neutral-50;
}

.light #theme-toggle::before {
  animation: 650ms ease-out 0s 1 normal none running pulseToLight;
}

.dark #theme-toggle::before {
  animation: 650ms ease-out 0s 1 normal none running pulseToDark;
}

#theme-toggle::after {
  content: attr(aria-label);
  position: absolute;
  width: max-content;
  font-size: 1.5rem;
  left: 0px;
  right: 0px;
  top: 95%;
  margin: 0px auto;
  padding: 0.5em 1em;
  border-radius: 0.125em;
  opacity: 0;
  transform: scale(0);
  transform-origin: center top;
  transition: transform 0ms linear 100ms, opacity 100ms linear 0s;
}

#theme-toggle:hover::after, #theme-toggle:focus-visible::after {
  opacity: 0.7;
  transform: scale(1);
  transition: transform 70ms linear 0s, opacity 70ms linear 0s;
}

.toggle-circle {
  transition: transform 500ms ease-out 0s;
}

.light .toggle-circle {
  transform: translateX(-15%);
}

.toggle-sun {
  transform-origin: center center;
  transition: transform 750ms cubic-bezier(0.11, 0.14, 0.29, 1.32) 0s;
}

.light .toggle-sun {
  transform: rotate(0.5turn);
}

@keyframes pulseToLight {
  0% {
    transform: scale(0);
    opacity: 0.5;
  } 10% {
    transform: scale(1);
  } 75% {
    opacity: 1;
  } 100% {
    opacity: 0;
    transform: scale(1);
  }
}

@keyframes pulseToDark {
  0% {
    transform: scale(0);
   opacity: 0.5;
  } 10% {
    transform: scale(1);
  } 75% {
    opacity: 1;
  } 100% {
    opacity: 0;
    transform: scale(1);
  }
}

.transition-hr {
  width: 0%;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  transition-property: width;
}

.transition-hr.active {
  width: 98%;
}

.show-menu {
  transition: height;
  @apply duration-150 ease-in-out delay-300;
}

.scroll-down {
  @apply flex flex-col items-center justify-center transition-all delay-0 ease-in-out;
}

.scroll-down > div {
  @apply h-8 w-8 border-2 rounded-full border-neutral-950 p-1 transition-all delay-0 dark:border-neutral-50;
}

.scroll-down > div > svg {
  @apply -mt-0.5 fill-neutral-950 transition-all delay-0 dark:fill-neutral-50;
}

.scroll-down:hover > div {
  @apply bg-neutral-950 transition-all delay-0 dark:bg-neutral-50;
}

.scroll-down:hover > div > svg {
  @apply fill-neutral-50 transition-all delay-0 dark:fill-neutral-950;
}

.toggleScrollDownOn {
  @apply opacity-100 duration-200;
}

.toggleScrollDownOff {
  @apply opacity-0 duration-200;
}

.gradient-animation {
  background-size: 300% 300%;
  animation: 4s ease 0s infinite alternate none running gradient-bg;
}

@keyframes gradient-bg {
  0% {
    background-position: 0% center;
  } 100% {
    background-position: 100% center;
  }
}

.gradient-text-clip {
  background-clip: text !important;
  color: transparent !important;
}

/*
.blur-mobile {
  backdrop-filter: blur(2px) !important;
}
*/

.full-inner-height {
  min-height: calc(100vh - 8rem);
}

/**
 *
 * Scrollbar
 *
***/
html::-webkit-scrollbar {
  display: none;
}

html {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.header-show-in {
  letter-spacing: 1rem;
  @apply text-center transition-all;
}

/* dark bg */
.dark .glow-text {
  text-shadow: 0 0 3px rgba(255, 255, 255, 0.7);
}

/* light bg */
.light .glow-text {
  text-shadow: 0 0 3px rgba(0, 0, 0, 0.7);
}

/*TODO: add scroll stops on sections of the main page [CURRENTLY BROKEN]*/
.scroll-snap {
  scroll-snap-type: y proximity;
  scroll-padding: 4rem;
  /* scroll-snap-stop: always; */
}

.scroll-snap section {
  scroll-snap-align: start;
  scroll-snap-stop: always;
}



.hljs-wrapper {
  @apply h-fit w-[40ch] md:w-[80ch] p-2 my-2 overflow-x-auto border-2 border-neutral-950 dark:border-neutral-50 rounded-lg;
}

pre code.hljs {
  @apply block p-2 overflow-x-auto bg-transparent text-neutral-950 dark:text-neutral-50;
}

.hljs-subst {
  @apply text-neutral-400 dark:text-neutral-600;
}

.hljs-selector-tag {
  @apply text-blue-700 dark:text-blue-400;
}

.hljs-selector-id {
  @apply text-green-700 dark:text-green-400;
}

.hljs-selector-class {
  @apply text-green-700 dark:text-green-400;
}

.hljs-selector-attr {
  @apply text-green-700 dark:text-green-400;
}

.hljs-selector-pseudo {
  @apply text-cyan-700 dark:text-cyan-400;
}

.hljs-addition {
  @apply text-green-700 dark:text-green-400;
}

.hljs-deletion {
  @apply text-red-700 dark:text-red-400;
}

.hljs-built_in {
  @apply text-teal-600 dark:text-teal-400;
}

.hljs-type {
  @apply text-cyan-700 dark:text-cyan-400;
}

.hljs-class {
  @apply text-green-700 dark:text-green-400;
}

.hljs-function {
  @apply text-cyan-700 dark:text-cyan-400;
}

.hljs-function > .hljs-title {
  @apply text-cyan-700 dark:text-cyan-400;
}

.hljs-keyword {
  @apply text-amber-600 dark:text-amber-400;
}

.hljs-literal {
  @apply text-orange-600 dark:text-orange-400;
}

.hljs-symbol {
  @apply text-orange-600 dark:text-orange-400;
}

.hljs-number {
  @apply text-orange-600 dark:text-orange-400;
}

.hljs-regexp {
  @apply text-yellow-600 dark:text-yellow-400;
}

.hljs-string {
  @apply text-green-700 dark:text-green-400;
}

.hljs-title {
  @apply text-cyan-700 dark:text-cyan-400;
}

.hljs-params {
  @apply text-rose-600 dark:text-rose-400;
}

.hljs-bullet {
  @apply text-pink-600 dark:text-pink-400;
}

.hljs-code {
  @apply text-green-700 dark:text-green-400;
}

.hljs-emphasis {
  @apply italic;
}

.hljs-formula {
  @apply text-green-700 dark:text-green-400;
}

.hljs-strong {
  @apply font-bold;
}

.hljs-link:hover {
  @apply underline;
}

.hljs-quote {
  @apply text-neutral-400 dark:text-neutral-600;
}

.hljs-comment {
  @apply italic text-neutral-400 dark:text-neutral-600;
}

.hljs-doctag {
  @apply text-green-700 dark:text-green-400;
}

.hljs-meta {
  @apply text-cyan-700 dark:text-cyan-400;
}

.hljs-meta-keyword {
  @apply text-green-700 dark:text-green-400;
}

.hljs-meta-string {
  @apply text-green-700 dark:text-green-400;
}

.hljs-attr {
  @apply text-green-700 dark:text-green-400;
}

.hljs-attribute {
  @apply text-pink-600 dark:text-pink-400;
}

.hljs-builtin-name {
  @apply text-orange-600 dark:text-orange-400;
}

.hljs-name {
  @apply text-pink-600 dark:text-pink-400;
}

.hljs-section {
  @apply text-teal-600 dark:text-teal-400;
}

.hljs-tag {
  @apply text-rose-600 dark:text-green-400;
}

.hljs-variable {
  @apply text-pink-600 dark:text-pink-400;
}

.hljs-template-variable {
  @apply text-pink-600 dark:text-pink-400;
}

.hljs-template-tag {
  @apply text-cyan-700 dark:text-cyan-400;
}

.postSideClass {
  @apply p-2 rounded-lg border-2 border-neutral-950 dark:border-neutral-50 hover:border-violet-400 hover:dark:border-violet-600 transition-all;
}

.postSideClass:hover > h2 {
  @apply text-violet-500 transition-all;
}

.postCardClass {
  @apply p-2 transition-all;
}

.postCardClass:hover > h2 {
  @apply text-violet-500 transition-all;
}



article.article p:first-of-type::first-letter {
  font-size: 2rem;
  font-weight: 500;
  float: left;
  line-height: 1.5rem;
  margin-right: 0.25rem;
}

details {
  @apply transition-all;
}

details[open] {
  @apply transition-all;
}

table {
  @apply border-collapse border border-neutral-950 dark:border-neutral-950 rounded-md table-auto overflow-x-auto w-[40ch] md:w-[80ch]
}

th {
  @apply border bg-neutral-200/10 dark:bg-neutral-800/10
}

td {
  @apply border bg-neutral-100/10 dark:bg-neutral-900/10
}
